<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <table>
        <thead>
            <tr>选择</tr>
            <tr>选择</tr>
        </thead>
        <tbody id="dd">

        </tbody>
    </table>
    <script id="test" type="text/html">
        {{each list as value index}}
            {{if index % 2 == 0}}
            <tr>
                <td>{{value}}</td>
            {{else}}
                <td>{{value}}</td>
            </tr>
            {{/if}}
        {{/each}}
    </script>
    <script>
        window.onload = function () {
            var data = {
                title: '标签',
                list: ['文艺', '博客', '摄影', '电影', '民谣', '旅行', '吉他']
            };
            var html = template('test', data);
            document.getElementById('dd').innerHTML = html;
        }
    </script>
    <script src="../lib/template.js"></script>
</body>
</html>
